 
	
 <% order.line_items.each do |line| %>
   <% product = line.product %>
   <% rowspan_val = order.line_items.count %>
   <tr>

   <% if line.product.id == order.line_items.first.product.id %>
     <td rowspan="<%=rowspan_val%>", class="vertical-center"><%= order.id %></td>
   <% end %>

   <td width="400">
     <%= link_to image_tag(product.small_image_url), product %>
     <%= link_to product.title, product %> 
   </td>

   <td class="vertical-center">
   	 <%= line.quantity %>
   </td>

   <% if line.product.id == order.line_items.first.product.id %>
       <td rowspan="<%=rowspan_val%>" class="vertical-center">
       <%= number_to_currency(order.total_price) %>	
       </td>
    <% end %>

     

       <td rowspan="<%=rowspan_val%>" class="vertical-center">
         <% if can? :update, order %>
         
          <%= form_for order do |f| %>
             <div class="input-field">
             <%= f.select :status, options_for_select(Order.statuses.keys, order.status) %>
             </div>
           
             <%= f.submit "Update", class: "btn", id: "btn-update" %>

          <% end %>
          <% end %>

          
          <% if can? :destroy, order %>

             <%= button_to 'Delete', order_path(order), method: :delete, data: {confirm: "You sure?"}, class: "btn", id: "btn-delete"  %>
          <% end %>
          

       </td>  
          
    

     
     
  
  

   </tr>

<% end %>
