
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.post_product', default: 'Post Product') %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(@product) do |f| %>
        <%= render 'shared/error_messages', errors: @product.errors %>
      
        <div class="input-field">
          <%= f.label :title %>
          <%= f.text_field :title, autofocus: true, class: 'form-control' %>
        </div>

        <div class="input-field">
          <%= f.label :description %>
          <%= f.text_area :description, class: "materialize-textarea" %>
        </div>
      
        <div class="input-field col s3">
        
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {:class=>'icons'})%>
        </div>  

         <div class="input-field col s3">
          <%= f.label :price %>
            <%= f.text_field :price, class: 'form-control', type: 'number' %>
          </div>

        <div class="input-field col s3">
          <%= f.label :stock %>
          <%= f.text_field :stock, class: 'form-control' %>
        </div>

        <div class="row">

        <div class="file-field input-field col s12">
          <div class="btn">
            <span>File</span>
            <%= f.file_field :original_image_url %>
          </div>

          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
           </div>
        </div>

        </div>

        
        <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
        

    <% end %>
  </div>
</div>
