<div class="container">
  <div class="row">
  	<h4><%=link_to @product.title, @product %></h4>
    <div class="col-md-4 ">
      <%= image_tag @product.image_url %>
    </div>
    
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item"> Item ID: <%= @product.id %> </li> 	
        <li class="list-group-item"> Item Description: <%= @product.description%></li>
        <li class="list-group-item"> Item Price: <%= number_to_currency(@product.price/100) unless @product.price == nil%> </li>
      </ul>
    </div>
  </div>

 
</div>

