<!--<%= form_tag("/search", method: "get") do %>
  <%= text_field_tag :q, nil, class: 'sb-search-input', placeholder: "Enter your search term ..." %>
  <%= submit_tag("Search", class: 'sb-search-submit') %>
   <span class="sb-icon-search"></span>
<% end %>-->
<div class="row">
	<div class="col m12 s12">
		<%= form_tag("/search", method: "get") do %>
			<div class= "input-field col s12" >
    		<%= text_field_tag :q, nil, placeholder: "Enter your search term ..."%>
    		<label for="search"><i class="material-icons">search</i></label>
    		</div>
		<% end %>
	</div>
</div>